// color
$blue: #3890ff;
$green: #22c36a;
$yellow: #f7b32b;
$orange: #f56e25;
$red: #f1483f;
$purple: #7354e2;

// grey
$black-dark: #3d444f;
$black-darker: #1f2126;
$black-light: #595f69;
$grey-dark: #9ba3af;
$grey-light: #ccd1d9;
$white-dark: #e4e7ed;
$white-dark-lighter: #f1f3f6;
$white-light: #f5f7fa;
$white-lighter: #fbfcfc;
$white: #ffffff;
